/**
 * 菜单
 */
.menu-container {

    .el-menu {
        text-align: left;
        border-right-width: 0;
        background-color: $menu-bg-color !important;

        .el-submenu__title:hover,
        .el-submenu__title:focus,
        .el-menu-item:hover,
        .el-menu-item:focus {
            background-color: unset;
        }
    }

    .el-menu-item {
        span {
            width: 100%;
        }
    }

    .el-submenu__title {
        span {
            width: 70%;
        }
    }

    .el-menu-item,
    .el-submenu__title {
        height: $menu-item-height;
        line-height: $menu-item-height !important;
        opacity: 0.9;
        color: $menu-font-color;
        border-left: 2px transparent solid;

        &:hover {
            color: $menu-hover-font-color !important;
            background-color: $menu-hover-bg-color !important;
        }

        span {
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            vertical-align: inherit;
        }

        .svg-icon {
            position: absolute;
            top: ($menu-item-height - $menu-icon-height) / 2;
            left: $menu-item-padding-h;
            width: $menu-icon-height;
            height: $menu-icon-height;
            font-size: $menu-icon-height;
        }

        .leftIcon {
            position: absolute;
            left: $menu-item-padding-h;
        }

        .circle {
            position: absolute;
            top: ($menu-item-height - $menu-icon-circle-height) / 2;
            left: $menu-item-padding-h + 2px;
            width: $menu-icon-circle-height;
            height: $menu-icon-circle-height;
            border-radius: 50%;
            display: inline-block;
        }

        .fullCircle {
            background: #FCFFFF;
            width: $menu-icon-circle-height + 1px;
            height: $menu-icon-circle-height + 1px;
        }

        .borderCircle {
            border: 1px solid #FCFFFF;
        }

        i {
            color: inherit;
        }
    }

    .level_1 {

        &>.el-menu-item,
        &>.el-submenu>.el-submenu__title {
            font-size: $menu-font-size +1px;
            padding-left: $menu-padding-left !important;
        }
    }

    .level_2 {

        &>.el-menu-item,
        &>.el-submenu>.el-submenu__title {
            font-size: $menu-font-size;
            padding-left: ($menu-padding-left - 9px) !important;

            &>.el-submenu__icon-arrow {
                right: 45px;
            }

            &:hover .circle {
                border-color: $menu-hover-font-color;
            }
        }
    }

    .moreMenu {

        .el-menu-item,
        .el-submenu>.el-submenu__title {
            line-height: $menu-item-height !important;
            height: $menu-item-height;
            font-size: $menu-font-size;
            color: $menu-font-color !important;
            padding-left: ($menu-padding-left + 17px) !important;
            position: relative;

            .icon-arrow {
                position: absolute;
                top: ($menu-item-height - $menu-icon-height) / 2;
            }

            .icon-arrow-hover {
                position: absolute;
                top: ($menu-item-height - $menu-icon-font-size) / 2;
                right: 38px;
                font-size: $menu-icon-font-size;
                color: $menu-icon-color;
                opacity: 0.85;
                display: none;
            }

            .el-submenu__icon-arrow {
                display: none;
            }
        }

        .el-submenu {
            &:hover>.el-submenu__title {
                color: $menu-hover-font-color !important;
            }
        }

        .el-menu-item {
            &:hover span {
                color: $menu-hover-font-color !important;
            }
        }

        li>ul {
            background: $menu-level-4-bg !important;
            box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.5);
            opacity: 0.85;
            z-index: 9999;
            position: fixed;
            width: $menu-level-4-width;
            max-height: 266px;
            overflow-y: auto;
        }

        &:hover>.el-submenu>ul.el-menu {
            display: block !important;
        }

        &:hover>.el-submenu>.el-submenu__title>.icon-arrow-hover {
            display: block !important;
        }
    }


    .level_2,
    .level_3 {

        &>.el-menu-item,
        &>.el-submenu>.el-submenu__title {
            background-color: $menu-open-bg-color !important;
        }
    }

    .level_4 {

        .el-menu-item,
        .el-submenu>.el-submenu__title {
            font-size: $menu-font-size - 1px;
            color: $menu-font-color !important;
            padding-left: ($menu-padding-left - 32px) !important;
        }
    }

    .is-opened>.el-submenu__title {
        background-color: $menu-open-bg-color !important;
    }

    /* 悬停左侧竖线 */
    .el-menu .el-menu {

        .el-menu-item,
        .el-submenu__title {
            border-left: $menu-bord-width transparent solid;

            &:hover {
                border-left-color: $menu-bord-hover-color;
            }
        }
    }
}
