.empty-info {
  position: absolute;
  top: 46%;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 18px;
  color: #ccb1ea;
  letter-spacing: 4px;
}

.center-scrollbar {
  height: calc(100vh - #{$action-bar-height});
  overflow: hidden;
  border-left: 1px solid $--border-color-light;
  border-right: 1px solid $--border-color-light;
  box-sizing: border-box;
}
.center-board {
  height: 100vh;
  width: auto;
  margin: 0 350px 0 260px;
  box-sizing: border-box;
}
.center-board-row {
  padding: 15px 22px 0 12px;
  box-sizing: border-box;
  & > .el-form {
    // 69 = 12+15+42
    height: calc(100vh - 69px);
  }
}
