.components-title {
  font-size: 14px;
  color: #222;
  margin: 6px 0;
  .svg-icon {
    color: #666;
    font-size: 18px;
  }
}
.components-draggable {
  margin-left: 0 - $--size-inline-block;
  .components-item {
    display: inline-block;
    width: calc(50% - #{$--size-inline-block});
    margin-left: $--size-inline-block;
  }
}
.components-item {
  transition: transform 0ms !important;
  box-sizing: border-box;
  padding: 5px 8px;
  margin-bottom: 5px;
  background: $main-bg;
  font-size: 12px;
  cursor: move;
  border: 1px dashed $main-bg;
  border-radius: $--border-radius-small;
  .svg-icon {
    color: #777;
    font-size: 15px;
  }
  &:hover {
    border: 1px dashed $main-color;
    color: $main-color;
    .svg-icon {
      color: $main-color;
    }
  }
}
