/**
 * 表格：
 * 根据变量重制基础样式。可用于所有主题。
 */

/** 
 * 表格颜色 
 */
.el-table thead {
  color: $--table-header-font-color;

  th {
    background-color: $--table-header-bg-color;
  }
}

.el-table--striped .el-table__body tr.el-table__row--striped td {
  background-color: $--table-row-striped-bg-color;
}

.el-table__body tr,
.el-table--striped .el-table__body tr.el-table__row--striped {
  &.hover-row {
    &.current-row > td,
    & > td {
      background-color: $--table-row-hover-bg-color;
    }
  }

  &.current-row > td {
    background-color: $--table-row-current-bg-color;
  }
}

/** 
* 表格尺寸 
*/
.el-table {
  font-size: $--table-header-font-size;

  th {
    padding: ($--table-row-height - $--input-height)/2 0;
  }

  td {
    padding: ($--table-row-height - $--input-height)/2 0;
  }

  .cell {
    line-height: $--input-height;
    padding: 0 $--table-row-padding-h;
  }

  &--mini {
    th,
    td {
      padding: 2px 0;
    }
    th > .cell,
    .cell {
      line-height: $--input-mini-height;
      padding: 0 4px;
    }
  }
}

/** 
 * 表格行内按钮
 */
.el-table .el-button--text {
  /* 文字按钮间加竖线 */
  & + .el-button--text {
    margin-left: $--size-inline-block;

    &::before {
      content: '|';
      margin-right: 7px;
    }
  }
}

/** 
 * 表格行内表单
 */
.el-table {
  th .el-checkbox__label {
    font-weight: 700;
  }

  /* 表格错误信息展示 */
  .is-error {
    .el-checkbox__inner {
      border-color: $--color-danger;
    }
  }

  // .cell {
  //     overflow: visible;
  // }

  // .el-form-item {
  //     margin-bottom: 0;
  // }

  // .el-form-item__error {
  //     padding-top: 0;
  //     margin-top: -3px;
  // }
}

/** 
 * 表格底部合计
 */
.summaryTable {
  .el-table__header-wrapper {
    position: absolute;
  }

  .el-table__fixed-header-wrapper {
    display: none;
  }
}

/** 
 * HACK: 滚轴位置
 */
.el-table__fixed-right {
  height: 100% !important;
  right: $--scrollbar-width !important;
}
.el-table--scrollable-x .el-table__body-wrapper {
  overflow-y: scroll; // HACK: 修复改动 right 造成的有横向滚轴，没有纵向滚轴时出错（此时 right 应为 0）。
}

.el-table__fixed-body-wrapper,
.el-table__fixed-right .el-table__fixed-body-wrapper {
  height: initial !important;
  bottom: $--scrollbar-width !important;
}
