.config{
  overflow: auto;
  height: 100%;
  font-family: MicrosoftYaHei;
  .con_part{
    position: relative;
    max-width:1200px;
    margin:0 auto;
  }
  .align-center{
    text-align: center;
  }
  .banner{
    // background-color: #ebf0f8;
    background-image: url("../../assets/img/info/common/banner_bg.png");
    background-size: 100% 100%;
    .banner_content{
      padding-top: 127px;
      .left{
        width:609px;
        padding-right:91px;
        float: left;
        text-align: left;
        .banner_title{
          width: 400px;
          font-family: MicrosoftYaHei-Bold;
          font-size: 36px;
          font-weight: normal;
          font-stretch: normal;
          line-height: 36px;
          letter-spacing: 2px;
          color: #ffffff;
        }
        .description{
          margin-top:40px;
          width: 614px;
          font-family: MicrosoftYaHei;
          font-size: 16px;
          line-height: 30px;
          color: #c5cff7;
          .special{
            font-family: MicrosoftYaHei-Bold;
            color: #ffffff;
          }
        }
        .btn_p{
          margin-top:24px;
          .manageControl{
            width: 162px;
            height: 42px;
            line-height: 42px;
            display: inline-block;
            text-align:center;
            color: #ffffff;
            border-radius: 21px;
            border: solid 1px #ffffff;
          }
        }
      }
      .right{
        width: 40%;
        float: left;
      }
    }

  }
  .page_part{
    position: relative;
    .title{
      height: 33px;
      padding:72px 0;
      font-family: MicrosoftYaHeiLight;
      font-size: 34px;
      line-height: 30px;
      color: #333333;
      text-align: center;
    }
  }
  .business_platform{
    // background-color: #ebf0f8;
    .content{
      width: 1180px;
      height: 500px;
      margin: 0 auto 96px;
      .content-c{
        width: 361px;
        height: 497px;
        float: left;
        background-size: 100% 100%;
        padding: 16px;
        .title-t{          
          font-size: 24px;
          line-height: 24px;
          font-weight: 400;
          color: #333333;
          margin: 32px auto 36px;
          width: 293px;
          line-height: 34px;
        }
        .title-c{          
          font-size: 20px;
          line-height: 20px;
          font-weight: 400;
          color: #999999;
          width: 320px;
          line-height: 34px;
          margin: auto;
        }
      }
      .view1{
        background-image: url("../../assets/img/info/digitaltwins/view1.png");
      }
      .view2{
        background-image: url("../../assets/img/info/digitaltwins/view2.png");
      }
      .view3{
        background-image: url("../../assets/img/info/digitaltwins/view3.png");
      }
    }
  }
  .company_difficulty{
    // height: 1000px;
    // background-image: url("../../assets/img/info/digitaltwins/digital-bg.png");
    // background-size: 100% 100%;
    // .max-width{max-width: 1214px;}
    .title{
      // color: #ffffff;
      padding: 16px 0 54px;
    }
    .point-c{
      width: 1120px;
      height: 791px;
      background-size: 100% 100%;
      margin: 0 auto 81px;
      position: relative;
      .point-t{
        position: absolute;
        bottom: 26px;
        width: 100%;
        .point-title-t{
          // width: 742px;
          font-size: 24px;
          font-weight: 400;
          color: #333333;
          // line-height: 30px;
          margin-bottom: 30px;
        }
        .point-desc-c{
          width: 1037px;
          font-size: 18px;
          font-weight: 400;
          color: #999999;
          line-height: 30px;
          margin: auto;
        }
      }
    }
    .point1{
      background-image: url("../../assets/img/info/digitaltwins/point1.png");
    }
    .point2{
      background-image: url("../../assets/img/info/digitaltwins/point2.png");
    }
    .point3{
      background-image: url("../../assets/img/info/digitaltwins/point3.png");
    }
  }

}