::-webkit-scrollbar {
  width: 0px;
}
.container {
  overflow: scroll;
  height: 100%;
  .content {
    .top-content {
      background-image: url("../../assets/img/info/cloud-warehouse-ph/top_bg.png");
      background-size: 100% 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .top-title {
        font-size: 25px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 14px;
        letter-spacing: 1px;
        color: #ffffff;
        font-weight: bold;
        margin-top: 126px;
        margin-bottom: 43px;
      }
      .top-hint {
        font-family: MicrosoftYaHei;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 15px;
        letter-spacing: 3px;
        color: #c5cff7;
      }
      .contact-view {
        width: 100px;
        height: 30px;
        background-color: #333333;
        border-radius: 15px;
        color: white;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 11px;
        letter-spacing: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 37px;
        margin-bottom: 43px;
      }
      .switch-view {
        width: 90px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 25px;
        .switch-line {
          opacity: 0.4;
          background-color: white;
          height: 1px;
          width: 26px;
        }
        .line-light {
          opacity: 1;
        }
      }
    }
    .data-manage {
      // background-image: url("../../assets/img/info/lmis-ph/databg.png");
      // background-size: 100% 100%;
      padding-top: 60px;
      padding-bottom: 44px;
      .top-title {
        font-size: 24px;
        color: #000000;
        text-align: center;
        margin-bottom: 74px;
      }
      .img-view {
        display: flex;
        flex-direction: row;
        justify-content: center;
        img {
          width: 315px;
          height: 176px;
        }
      }
    }
    .trans-process {
      padding: 45px 0  46px;      
      background: #F6F8FC;
      .top-title {
        font-size: 24px;
        line-height: 24px;
        color: #000000;
        text-align: center;
      }
      .process-view {
        display: flex;
        flex-direction: row;
        justify-content: center;
        // margin-top: 40px;
        .center-line {
          width: 273px;
          height: 273px;
          margin: 68px 0px;
        }
      }
      .process-desc{
        margin: 0 auto;
        width: 250px;
        .process-tit{
          margin-bottom: 30px;
          display: flex;
          flex-direction: row;
          align-items: center;
          .process-sort{            
            font-size: 32px;
            font-family: Microsoft YaHei;
            font-weight: 300;
            font-style: italic;
            color: #719EF8;
            line-height: 15px;
          }
          .sort-t{            
            font-size: 14px;
            font-family: Microsoft YaHei;
            font-weight: 400;
            color: #333333;
            line-height: 12px;
            margin-left: 9px;
          }
        }
      }
    }
    .store-process {
      padding-top: 45px;
      padding-bottom: 60px;
      .top-title {
        font-size: 24px;
        color: #000000;
        text-align: center;
      }
      .img-view {
        display: flex;
        flex-direction: row;
        justify-content: center;
        img {
          margin-top: 50px;
          width: 375px;
          height: 306px;
        }
      }
      .process-desc{
        margin: 54px auto 0;
        width: 258px;
        .process-tit{
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-bottom: 28px;
          .process-sort{            
            width: 20px;
            height: 20px;
          }
          .sort-t{            
            font-size: 14px;
            font-family: Microsoft YaHei;
            font-weight: 400;
            color: #333333;
            line-height: 12px;
            margin-left: 24px;
          }
        }
      }
    }
    .composite-manage {      
      background: #F6F8FC;
      padding-top: 55px;
      padding-bottom: 78px;
      .top-title {
        font-size: 24px;
        color: #000000;
        text-align: center;
      }
      .img-view {
        display: flex;
        flex-direction: row;
        justify-content: center;
        img {
          margin-top: 50px;
          width: 325px;
          height: 235.5px;
          margin-bottom: 6px;
        }
      }
      .text-view {
        width: 275px;
        font-size: 12px;
        line-height: 17px;
        letter-spacing: 1px;        
        color: #333333;
        text-indent: 26px;
        margin: 35px auto 0;
      }
    }
    .agent-manage {      
      // background: #F6F8FC;
      padding-top: 55px;
      padding-bottom: 78px;
      .top-title {
        font-size: 24px;
        color: #000000;
        text-align: center;
      }
      .img-view {
        display: flex;
        flex-direction: row;
        justify-content: center;
        img {
          margin-top: 50px;
          width: 375px;
          height: 425.5px;
          margin-bottom: 6px;
        }
      }
      .text-view {
        width: 275px;
        font-size: 12px;
        line-height: 17px;
        letter-spacing: 1px;        
        color: #333333;
        margin: 30px auto 0;
        text-align: center;
      }
    }
  }
}
